.btn-main {
    background: $color-accent;
    padding: rem(10) rem(15);
    border-radius: rem(5);
    color: $color-text-bright;
    transition: background-color .3s, box-shadow .3s;
    box-shadow: 0 2px 5px #000;

    &:hover {
        background: $color-accent-dark;
        box-shadow: 0 1px 2px #000;
    }

    &:active {
        box-shadow: 0 0 0 #000;
    }
}

.btn-secondary {
    background: $color-text-main;
    padding: rem(10) rem(15);
    border-radius: rem(5);
    color: $color-text-bright;
    transition: background-color .3s, box-shadow .3s;
    box-shadow: 0 2px 5px #000;

    &:hover {
        background: $color-accent-dark;
        box-shadow: 0 1px 2px #000;
    }

    &:active {
        box-shadow: 0 0 0 #000;
    }
}

[class*="__input"] {
    outline-color: $color-accent;

    &.error {
        border: 2px solid red;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}