$container-width: 1200;
$container-padding: 15;

$font-family: 'Roboto',
sans-serif;
$font-size: rem(16);

$color-text-main: #323232;
$color-text-bright: #fff;
$color-accent: #4aa22a;
$color-accent-dark: #397d21;
$color-cards: #e6e6e6;

// $middle: '481px';
// $large: '993px';
// $xLarge: $container-width-main+'px';