.footer {
    background: linear-gradient(to bottom, #fff 0%, #b3e0c6 100%);
    box-shadow: 0 0 5px #000;
    padding: rem(20) 0;

    // .footer__container
    &__container {}

    // .footer__authors
    &__authors {
        margin-bottom: rem(20);
    }

    // .footer__credits
    &__credits {
        text-align: center;
        a {
            font-style: italic;
            font-weight: 700;
        }
    }
}

.authors {
    @include flexCenter;
    gap: rem(30);

    // .authors__item
    &__item {
        font-weight: 700;
    }
}