.header {
    background: linear-gradient(to bottom, #fff 0%, #b3e0c6 100%);
    box-shadow: 0 0 5px #000;
    padding: rem(10) 0;
    z-index: 5;

    // .header__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo
    &__logo {
        width: rem(150);
    }

    // .header__img
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    // .header__btn
    &__btn {}
}