.main {
    &__cards {
        padding: rem(30) 0;
    }
}

//====================================================================================================

.wrapper:has(.modal.open) {
    overflow: hidden;
}

.modal {
    z-index: 10;
    @include flexCenter;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #0000002a;
    display: flex;

    // .modal__body
    &__body {
        min-width: rem(300);
        width: rem(600);
        display: flex;
        flex-direction: column;
        background: $color-cards;
        padding: rem(30);
        border-radius: rem(15);
        box-shadow: 0 0 15px #000;
        position: relative;
    }

    // .modal__header
    &__header {
        margin-bottom: rem(30);
    }

    // .modal__title
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: rem(24);
        font-weight: 700;
    }

    // .modal__close
    &__close {
        position: absolute;
        right: rem(15);
        top: rem(30);
        height: 1.3rem;
        width: 1.3rem;

        &::before,
        &:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            height: 3px;
            width: 100%;
            background-color: $color-text-main;
            transition: background-color .3s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {

            &::before {
                background-color: #b30000;
            }

            &::after {
                background-color: #b30000;
            }
        }
    }

    // .modal__content
    &__content {}
}

.form {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;

    &>* {
        width: 100%;
    }

    &>*:not(:last-child):not(label) {
        margin-bottom: rem(15);
    }

    // .form__select
    &__select {
        padding: rem(10);
        border-radius: rem(5);
    }

    // .form__label
    &__label {
        display: inline;
        padding-left: rem(3);
        margin-bottom: rem(3);

        &:has(+.form__radio) {
            max-width: max-content;
            margin-right: rem(15);
            position: relative;

            &:before {
                position: absolute;
                content: '';
                background: #fff;
                border: 2px solid $color-text-main;
                border-radius: rem(5);
                width: rem(25);
                height: rem(25);
                right: rem(-35);
            }
        }

        &:has(+#open.form__radio:checked) {
            &::after {
                position: absolute;
                content: '';
                background-color: $color-accent;
                border-radius: rem(3);
                width: rem(15);
                height: rem(15);
                right: rem(-30);
                top: rem(5);
            }
        }

        &:has(+#done.form__radio:checked) {
            &::after {
                position: absolute;
                content: '✔';
                text-align: center;
                font-size: rem(20);
                color: $color-accent;
                width: rem(25);
                height: rem(25);
                right: rem(-35);
            }
        }
    }

    // .form__input
    &__input {
        // width: 100%;
        padding: rem(5);
        border-radius: rem(5);
    }

    // .form__checkbox
    &__radio {
        max-width: max-content;
        height: rem(25);
        margin-right: auto;
        visibility: hidden;
    }

    // .form__btn
    &__btn {
        margin: 0 auto;
    }
}

//====================================================================================================

.filter-section {
    background: url('../img/filter-bg.png') center / cover no-repeat;
    position: sticky;
    top: 0;
    z-index: 4;
}

.filter-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: rem(15);
    padding: rem(30) 0;
    flex-wrap: wrap;

    // .filter-form__label
    &__label {
        vertical-align: super;

        &:has(.filter-form__radio):not(:last-child) {
            margin-right: rem(20);
        }

        &:has(+.filter-form__radio) {
            max-width: max-content;
            margin-right: rem(25);
            position: relative;

            &:before {
                position: absolute;
                content: '';
                background: #fff;
                border: 2px solid $color-text-main;
                border-radius: rem(5);
                width: rem(25);
                height: rem(25);
                right: rem(-35);
            }
        }

        &:has(+.filter-form__radio:checked) {
            &::after {
                position: absolute;
                content: '';
                background-color: $color-accent;
                border-radius: rem(3);
                width: rem(15);
                height: rem(15);
                right: rem(-30);
                top: rem(3);
            }
        }
    }

    // .filter-form__input
    &__input {
        border: 2px solid $color-text-main;
        border-radius: rem(5);
        padding: rem(5);
        width: 100%;
    }

    // .filter-form__block
    &__block {}

    // .filter-form__legend
    &__legend {
        font-weight: 700;
        margin-bottom: rem(10);
    }

    // .filter-form__content
    &__content {
        flex: 0 1 rem(350);
        font-weight: 700;

        @media (max-width: 992px) {
            flex: 0 1 100%;
        }
    }

    // .filter-form__status
    &__status {}

    // .filter-form__radio
    &__radio {
        visibility: hidden;
    }

    // .filter-form__urgency
    &__urgency {}

    // .filter-form__reset
    &__reset {}
}

//====================================================================================================
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);
    position: relative;

    // .cards__item
    &__item {
        max-width: 100%;
        width: rem(500);
        padding: rem(15) rem(35) rem(15) rem(15);
        border-radius: rem(10);
        background: $color-cards;
    }

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #00000077;

    &.active {
        opacity: 0.5;
    }

    // .card__content
    &__content {
        overflow: hidden;
        max-height: rem(65);
        margin-bottom: rem(15);
    }

    &.open {
        .card__content {
            max-height: max-content;
        }
    }

    // .card__text
    &__text {
        font-weight: 700;

        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    // .card__desc
    &__desc {
        font-weight: 400;
    }

    // .card__show-more
    &__show-more {
        margin: 0 auto;
    }

    &__edit,
    &__del {
        text-shadow: 2px 2px 5px #000000a0;
    }

    // .card__edit
    &__edit {
        position: absolute;
        right: rem(5);
        top: rem(50);
        font-weight: 700;
        transition: transform .3s;
        font-size: rem(20);

        &:hover {
            transform: rotate(-30deg);
            color: $color-accent;
        }
    }

    // .card__del
    &__del {
        position: absolute;
        right: rem(5);
        top: rem(13);
        height: 1.3rem;
        width: 1.3rem;

        &::before,
        &:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            height: 3px;
            width: 100%;
            background-color: $color-text-main;
            transition: transform .3s, color .3s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {

            &::before {
                background: #b30000;
                transform: translate(-50%, -50%) rotate(135deg);
            }

            &::after {
                background: #b30000;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    &[data-status='done'] {
        overflow: hidden;

        & .card__show-more {
            background: $color-accent-dark;
            z-index: 1;
        }

        &::after {
            position: absolute;
            content: 'Завершено ✔';
            background: $color-accent;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(500);
            height: rem(60);
            font-weight: 700;
            opacity: .3;
            font-size: rem(40);
            top: rem(-60);
            left: 30%;
            transform-origin: left;
            transform: rotate(25deg);
            // width: 90%;
        }
    }
}

//====================================================================================================