@use "sass:math";

// Imports fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

// Imports base files (reset, mixins, vars)
@import "./base/_base";

//====================================================================================================

body {
    min-width: 320px;
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 150%;
    color: $color-text-main;
    font-weight: 400;

    @supports (overflow: clip) {
        overflow: clip;
    }

    >main {
        flex: 1 1 auto;
    }

    // Fix for sliders
    >* {
        min-width: 0;
    }
}

//====================================================================================================

[class*="__container"] {
    max-width: calc(rem($container-width) + rem($container-padding) * 2);
    margin: 0 auto;
    padding: 0 rem($container-padding);
}

//====================================================================================================

// Import styles for parts
@import "_header";
@import "_footer";
// Import styles for loader
@import "_loader";
// Import styles for pages
@import "index";

// // Import media quaries
// @import "./media/_media";